@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.btn.btn-primary{
    
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
   
       margin: 10px;
       margin-left: 24vh;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
       align-items: center;
}

     .btn.btn-primary:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    

/* backgroud */

section
{
    
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%,  rgba(57,255,186,1) 0%, rgba(21,38,82,1) 90% );
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107,#f10915);
    border-radius: 50%;
    transform: translate(-250px,-120px);
}
section::after
{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(#2196f3,#b413e6);
    border-radius: 50%;
    transform: translate(250px,150px);
}
.box
{
    position: relative;
    z-index: 1000;
}
.container
{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    box-shadow:0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar
{
    width: 100%;
    padding: 20px;
}
#calendar table
{
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
}
#calendar table td
{
    color:#fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#calendar table td:hover
{
   background:#fff;
   color:#111 !important;
    
}
#calendar table tr:nth-child(1) td
{
    background: #fff;
    color:#111;
    border-radius: 5px;
    font-weight: 600;
    
}

.dycalendar-target-date
{
    background: #fff;
    color:#111; 
}
.dycalendar-prev-next-btn.prev-btn 

{
    
    background: #fff;
    color:#111;
    width: 44px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.dycalendar-prev-next-btn.next-btn
{
    
    background: #fff;
    color:#111;
    width: 44px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.dycalendar-span-month-year
{
    color:#fff;
    font-size: 1.5rem;
    font-weight: 600;
}
h3,a{
    padding-top: 50px;
    color: rgb(16, 191, 235);
    text-align: center;
    text-emphasis: none;
    
}